.cardContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.card {
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgray;
  border-radius: 15px;
  cursor: grab;
}
